

<h1><%= link_to "Menu", menu_path %></h1>

    <div class= "btn-group"> 
        <% @sections.each do |section| %>
            <%= link_to section.name, menu_path(section_id: section.id), class: "btn #{params[:section_id] == section.id.to_s ? 'btn-primary' : 'btn-secondary' }" %>  <!-- remember to change the classes of the buttons -->
        <% end %>
    </div> <!-- end btn group displaying the food sections--> 

     <div class="card card-block">    
        
   
       <%= form_tag nil, method:'get' do %>  
            <%= hidden_field_tag :section_id, params[:section_id] %>  
            <div class="form-inline">
                <%= select_tag :sort_column, options_for_select([['Name','name'],['Price','price']]), class:"form-control"%>
                <%= select_tag :sort_direction, options_for_select([['Ascending','asc'],['Descending','desc']]), class:"form-control"%>
                <%= submit_tag 'Sort', class: 'btn btn-secondary'%>
            </div>
        <% end %>
    </div>   <!--end card block to sort the food -->
    

     
			
            

    <section class="menu_list">
    <% if @current_section %>
        
        <% @current_section.food_items.each do |item| %> 
            <div class='menu_container'>
                <%= image_tag item.image_url_or_default %>       
            
                <div class='menu_flex'>
                    <span><%= link_to item.name, food_item_path(item) %></span>  <!-- to open a new page with the sigle food item -->
                    <span> <%= number_to_currency item.price %> </span>
                    <span><%= link_to new_food_item_order_path(food_item_id: item.id) do %>   <!-- to have the icon as the link -->
                        <i class="fa fa-cart-plus"></i>
                        <% end %>
                    </span>
                     
                </div>

                
  
            </div>
        <% end %> <!-- end loop to display food -->

   

    <% else %> <!-- in case they did not select a section we display everything -->

        <% @food_items.each do |item| %> 
            <div class='menu_container'>
                <%= image_tag item.image_url_or_default %>
            
                <div class='menu_flex'>
                    <span><%= link_to item.name, food_item_path(item) %></span>  <!-- to open a new page with the sigle food item -->
                    <span> <%= number_to_currency item.price %> </span>
                    <span><%= link_to new_food_item_order_path(food_item_id: item.id) do %>   <!-- to have the icon as the link -->
                        <i class="fa fa-cart-plus"></i>
                        <% end %>
                    </span>                     
                </div>  
            </div>
        <% end %> <!-- end loop to display food -->

    
    <% end %> <!-- end if -->
    
    
    </section>   <!--container for the food elements -->

    

    <footer>
        <%= link_to "New Food Item" ,new_food_item_path %>
    </footer>
