<h1>Order Completed</h1>
<span>

<table>
    <thead>
        <th>Name</th>
        <th>Food</th>
        <th>Quantity</th>
        <th>Date</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Price</th>
        <th>Shipping</th>
        <th>Total</th>
    
    </thead>
    <tbody>
        <% @order.each do |i| %>
        <tr>
            <td><%= i.name %></td>
            <td><%= i.food_item.name %> </td>
            <td><%= i.quantity %></td>
            <td><%= i.created_at.to_date %></td> 
            <td></td>
            <td><%= i.phone %></td>
            <td><%= number_to_currency i.food_item.price * i.quantity %></td>
            <td> <%= number_to_currency 20000 %></td>
            <td> <%= number_to_currency (i.food_item.price * i.quantity )+ 20000  %></td>
          
                      
        </tr>
        <% end %>

    
    
    </tbody>


</table>

</span>