<p id="notice"><%= notice %></p>


<div id='show_page'>
<p id='show_image'>
  <%=image_tag @food_item.image_url %>
</p>
<p>
  <strong>Name:</strong>
  <%= @food_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food_item.description %> 
</p>

<p>
  <strong>Price:</strong>
  <%= @food_item.price %> VND
</p>

<p>
  <strong>Section:</strong>
  <%= @food_item.section.name %>
</p>
</div>


<%= link_to 'Edit', edit_food_item_path(@food_item) %> |
<%= link_to 'Back', food_items_path %>
